.browser {
    width: 80rem;
    height: 40rem;
    background-color: aqua;
}

.browser-header-title {
    width: 100%;
    height: 2.5rem;
    background-color: rgb(168, 165, 165);
    display: flex;
    justify-content: space-between;
}
.browser-header-title-titulo {
    margin-left: 32rem;
    margin-top: 0.6rem;
    font-weight: 900;
}
.browser-header-title-iconos {
    margin: 0.6rem;
    font-size: 1rem;
}

.browser-header-pestana {
    width: 100%;
    height: 3rem;
    background-color:  rgb(206, 206, 206);
}
.browser-header-search {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    background-color: rgb(206, 206, 206);
}
.left-header-search {
    padding: 0.5rem;
    font-size: 1.4rem;
}
.fa-arrow-left,
.fa-arrow-right {
    color: grey;
}
.middle-header-search {
    display: flex;
    justify-content: space-between;
    border: 0.1rem solid #7d8cac;
    background: white;
    width: 50rem;
    margin-bottom: 0.4rem;
    padding: 0.5rem;
}
.middle-header-search-left {
    width: 10%;
    color: grey;
}
.middle-header-search-middle {
    width: 80%;
    margin-left: -4rem;
}
.middle-header-search-right {
    width: 10%;
}
.middle-header-search-middle input {
    border: none;
    outline: none;
}
.right-header-search {
    padding: 0.5rem;
    margin-right: 1rem;
    font-size: 1.4rem;
}

/* BODY DEL NAVEGADOR */
.browser-body {
    width: 100%;
    height: 31.5rem;
    background-color: white;
}
.browser-body-nav {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
  
}
.browser-body-nav ul{
    display: inline-flex;


}
.browser-body-nav ul li {
    align-self: center;
    margin: 0.5rem;
    cursor: pointer;
}
.body-nav-links:hover { 
    text-decoration: underline;
}

.browser-body-body {
    display: flex;
    justify-content: center;
 
}
.search-container {
    display: flex;
    justify-content: center;
}
.google-search {
    display: flex;
    border: 0.1rem solid #7d8cac;
    border-radius: 1rem;
    width: 30rem;
    height: 2.5rem;
}
.google-search:hover {
    box-shadow: 0 0.1rem 0.6rem 0 #20212447;
    border-color: #dfe1e500;
}

.fa-search {
    color: grey;
    font-size: 1.3rem;
    margin: 0.4rem;
}

.google-search-input input {
    border-radius: 0.7rem;
    height: 2.3rem;
    border: none;
    outline: none;
    
}


.browser-body .browser-body-nav  .menu-icon {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 3rem;
    height: 3rem;
}
.browser-body .browser-body-nav img {
    width: 3rem;
    border-radius: 15rem;
}