.browser {
    width: 80rem;
    height: 40rem;
    background-color: aqua;
}
.browser-header-title {
    width: 100%;
    height: 2.5rem;
    background-color: rgb(168, 165, 165);
    text-align: center;
}
.browser-header-pestana {
    width: 100%;
    height: 3rem;
    background-color:  rgb(206, 206, 206);
}
.browser-header-search {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    background-color: rgb(206, 206, 206);;
}

.middle-header-search {
    display: flex;
    justify-content: space-between;
    border: 0.1rem solid #7d8cac;
    background: white;
    width: 50rem;
}
.middle-header-search-middle input {
    border: none;
    outline: none;
}

.browser-body {
    width: 100%;
    height: 31.5rem;
    background-color: white;
}
.browser-body-nav {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
  
}
.browser-body-nav ul{
    display: inline-flex;


}
.browser-body-nav ul li {
    align-self: center;
    margin: 0.5rem;
}

.browser-body-body {
    display: flex;
    justify-content: center;
 
}
.search-container {
    display: flex;
    justify-content: center;
}
.google-search {
    display: flex;
    border: 0.1rem solid #7d8cac;
    border-radius: 1rem;
    width: 30rem;
    height: 2.5rem;
}
.google-search:hover {
    box-shadow: 0 0.1rem 0.6rem 0 #20212447;
    border-color: #dfe1e500;
}

.fa-search {
    color: grey;
    font-size: 1.3rem;
    margin: 0.4rem;
}

.google-search-input input {
    border-radius: 0.7rem;
    height: 2.3rem;
    border: none;
    outline: none;
    
}


.browser-body .browser-body-nav  .menu-icon {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 3rem;
    height: 3rem;
}
.browser-body .browser-body-nav img {
    width: 3rem;
    border-radius: 15rem;
}