.calculadora {
    width: 36rem;
    height: 35rem;
    background-color: rgb(201, 194, 194);
    border-radius: 1rem;
    border: 0.1rem solid rgb(134, 128, 128);
}
table {
     width: 35rem;
     height: 35rem;
     padding: 0.3rem;
     display: flex;
     justify-content: center;
     border-radius: 1rem;
     
 }
.table-x .fa-times-circle {
    margin-top: 0.5rem;
    margin-left: 34rem;
    font-size: 1.3rem;
}
.calculadora-visor {
     width: 20rem;
     height: 4rem;
     background-color: white;
 }
 .calculadora-visor td {
     border: 0.1rem solid rgb(134, 128, 128);
 }
.calculadora-botones {
    margin-top: 1rem;
}
button {
    width: 6rem;
    height: 6rem;
    margin: 0.3rem;
    border: 0.1rem solid #aca7a7;
    cursor: pointer;
    outline: none;
}
.equal {
    background-color: rgb(57, 185, 57);
    border: rgb(57, 185, 57);
}
button:hover {
    background-color: rgb(95, 224, 95);
}
