* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto Mono', monospace;
}
body {
    background-image: url(../img/fondomint.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
header {
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3rem;
    color:white; 
}
.fa-ubuntu {
    color: #e95420;
}
main {
display: flex;
justify-content: center;
align-items: center;
}

.desktop {
    width: 100vw;
}
.left-desktop {
    width: 20vw;
    float: left;
}
.fa-terminal {
    color: white;
    background-color: #201f1e;
    border-radius: 1rem;
    padding: 0.5rem;
    border: 0.001rem solid black;
    font-size: 3rem;
    cursor: pointer;
    margin-left: 2rem;
}
.left-desktop .fa-firefox-browser {
    font-size: 3rem;
    cursor: pointer;
}
.fa-calculator {
    color: white;
    background-color: #201f1e;
    border-radius: 1rem;
    padding: 0.8rem;
    border: 0.001rem solid black;
    font-size: 3rem;
    cursor: pointer;
    margin-top: 1rem;
    margin-left: 2rem;
}
.right-desktop {
    width: 80vw;
    float: right;
}
.fa-times-circle {
    color: #6c943f;
}
.fa-times-circle:hover {
    color: #9cc76b;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4.6rem;
    background: #2b2929;
    display: flex;
    border-top: 0.1rem solid rgb(53, 51, 51);
    box-sizing: content-box;
    
}

.logo {
    width: 5%;
    transition: transform .2s;
}

.logo:hover {
    transform: scale(1.1);
}

.logo figure img{
    width: 4rem;
    height: 4rem;
    margin: 0.5rem;
    
}

ul li {
    list-style: none;
    display: inline;
}
.anclados {
    padding: 0.5rem;
    width: 25%; 

}
.anclados ul li i {
    transition: transform .2s;
   
}
.anclados ul li i:hover {
    transform: scale(1.1);
}

.fa-firefox-browser {
    color: white;
    background-color:#EB7228;
    border-radius: 1rem;
    padding: 0.5rem;
    border: 0.001rem solid #b43812;
    font-size: 2.3rem;
}

.otros-iconos {
    width: 60%;
    display: flex;
    justify-content: flex-end;
    font-size: 1.5rem;
    color: white;
    line-height: 5rem;
}
.otros-iconos ul li i {
    cursor: pointer;
}
.fas {
    cursor: pointer;
}
.fechaYHora {
    width: 20%;
    display: flex;
    justify-content: end;
    line-height: 5rem;
    color: white;
    font-weight: 900;
    font-size: 1.2rem;
    padding-right:0.6rem ;
    padding-left: 0.6rem;
}

